li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
p {
  text-indent: 15px;
  text-align: justify;
}
.item-head {
  color: #669966;
  font-weight: bold;
  margin-top: 1em;
}
li .item-head {
  display: block;
}
div.example {
  margin-left: 35px;
  max-width: 1000px;
	padding: 15px;
  margin-top: 5px;
  margin-bottom: 5px;
}
div.example span.caption {
  margin-top: 5px;
  margin-bottom: 15px;
  font-style: italic;
  display: block;
}
div.code-example {
	background-color: #FFFFE6;
  border: 1px solid black;
  padding: 5px;
}
div.example div.code-example {
	background-color: #F4FFF4;
}
.code-example div {
  margin-top: 2.5px;
	margin-bottom: 2.5 px;
}
.code-example span {
  display: block;
}

code.sample span {
  display: inline;
}

.phase {
	color: #0000FF;
}
.token {
	color: #B8004A;
}
.identifier {
	color: #0066FF;
}
.comment {
  color: #669900;
}
.invalid {
  color: red;
}
.valid {
  color: green;
}
.table , .reftab{
  border-collapse: separate;
	border: 2px solid grey;
	padding: 1px;
	text-align: left;
	vertical-align: middle;
	border-spacing: 1px;
}
.table th, .table td,.reftab th, .reftab td{
  border: 1px solid grey;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 7px;
}
.table th,.reftab th {
	text-align: center;
}

.codeInline{
	font-family: Consolas;
    font-size: 75%;
    font-weight: bolder;
}
/* ===================================================================================
 kudos to http://stackoverflow.com/questions/535334/html-css-autonumber-headings 
 =================================================================================== */
body {
	counter-reset: section
}
h2 {
  font-size: 200%;
	counter-reset: sub-section;
}
h3 {
	counter-reset: composite;
  font-size: 150%;
  text-decoration: underline;
}
h4 {
	counter-reset: detail;
  font-weight: bold;
  font-size: 120%;
}
h5 {
  font-size: 110%;
  text-indent: 15px;
}
h2:before {
	counter-increment: section;
}
h3:before {
	counter-increment: sub-section;
	content: counter(sub-section, upper-roman) " - ";
}
h4:before {
	counter-increment: composite;
	content: counter(sub-section, upper-roman) "." counter(composite) " - ";
}
ol.toc > li {
  list-style-type: upper-roman;
}
ol.toc li {
  margin-top: 0;
  margin-bottom: 0;
}
ul.li {
  list-style-type: disc;
}